# ---------------------------------------------------------
# Ambiente Virtual
# ---------------------------------------------------------

.venv/

# ---------------------------------------------------------
# Python
# ---------------------------------------------------------

__pycache__/
*.py[cod]
*$py.class

# ---------------------------------------------------------
# Banco de Dados
# ---------------------------------------------------------

*.db
*.sqlite
*.sqlite3

# ---------------------------------------------------------
# Logs
# ---------------------------------------------------------

logs/
*.log

# ---------------------------------------------------------
# Arquivos Exportados
# ---------------------------------------------------------

exports/

# ---------------------------------------------------------
# Build
# ---------------------------------------------------------

build/
dist/
*.spec

# ---------------------------------------------------------
# IDEs
# ---------------------------------------------------------

.vscode/
.idea/

# ---------------------------------------------------------
# Sistema Operacional
# ---------------------------------------------------------

Thumbs.db
Desktop.ini

# ---------------------------------------------------------
# Configurações locais
# ---------------------------------------------------------

config/config.ini